.addressMap.firstad ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    padding-top: 1px;
}

.addressMap.firstad ul li {
    border: 1px solid black;
    padding: 8px 0;
    white-space: nowrap;
    margin: 1rem 4rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.secondad ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    padding-top: 1px;
}

.secondad ul li {
    border: 1px solid black;
    border-radius: 3rem;
    padding: 8px 0px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 2rem;
}

.addressMap.on {
    background-color: #ff8908;
}


.addressMap.adMap {
    gap: 10px;
}