.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.p_unset {
    position: unset !important;
}

.d-flex {
    display: flex;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.z-up {
    z-index: 10000;
}

.basic-slide-list {
    margin-top: 20px;

}

/* 레 이 아 웃 */

.reviewBanner {
    width: 100%;
    margin-bottom: 100px;
}


/* 배경 스타일 */
.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.txt_set {
    text-align: center;
    margin: 2rem auto;
    color: black;

}



.title0 {
    font-size: 28px;
    line-height: 2;
}

.tbox_right {
    font-family: 'Pretendard-Regular';
    margin-left: 50px;
}

.title1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    min-height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.typo {
    font-size: 16px;
    margin-bottom: 20px;
    min-height: 90px;
    line-height: 30px;
    font-weight: 400;
}

.info_wrap {
    color: #aeaeae;
}

.tag {
    display: inline-block;
    margin: 0 6px 0;
    color: #d1a623;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
}

.swiper_slide {
    background-color: white;
    align-items: center;
}

.btns {
    padding: 1rem;
}

.all {
    font-size: 1rem !important;
    line-height: 2;
    color: white !important;
}