.all_nav::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 0;
    background-color: white;
    transition: all .4s;
}

.all_nav:hover::after {
    min-height: 250px;
}


.mainnav {
    display: block;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.smenu {
    display: block;
    position: absolute;
    z-index: 100000;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    min-height: 250px;
    background-color: transparent;
    transition: all .4s;
}

.smenu > a {
    display: block;
    padding: 15px 0;
    font-weight: 400;
    font-size: 18px;
}