@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 1000 !important;

    padding: 0;
    margin: 0;

}

.personalColor {
    color: #B8FBFF;
    /* 로고 색상과 동일. */
}

.personalColorBold {
    color: #0091ff;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.posFixed {
    position: fixed;
}

.posAbs {
    position: absolute;
}

.posRel {
    position: relative;
}

.dpFlex {
    display: flex;
}

.dpBlock {
    display: block;
}

.jcb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.container {
    margin: auto;
    width: 1400px;
}

.height100 {
    height: 100px;
}

.flexDirCol {
    flex-direction: column;
}

.flexDirRow {
    flex-direction: row;
}