div.header1 {
    padding: 25px 0;

    .logo {
        >a {
            display: block;
        }
    }

    .top_nav{
        .dropdown_select {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 1px;
                height: 50%;
                background-color: rgba(0,0,0,.1);

            }

            >a {
                &::after {
                    content: '\F282';
                    font-family: 'bootstrap-icons';
                    border: none;
                    vertical-align: 1px;
                    margin-left: 10px;
                    font-size: 12px;
                }
            }

        }   

            >a {
                &:first-of-type {
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 1px;
                        height: 50%;
                        background-color: rgba(0,0,0,.1);
                    }
                }

            }

        
    }
    
}