.main_slider {
    width: 100%;
    height: 600px;
}

.myfirstswiper .firstslide img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
}

.myfirstswiper .firstslide > * {
    position: absolute;
    z-index: 1;
}

.myfirstswiper .firstslide > div {
    left: 0;
    bottom: 0;
    padding-left: 5%;
    padding-bottom: 10%;
    color: white;
}

.myfirstswiper .firstslide > div h3 {
    font-size: 18px;
    font-weight: 300 !important;
}

.myfirstswiper .firstslide::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 5%;
    left: 0;
    right: 0;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.28) 1.01%, rgba(0, 0, 0, 0.00) 99.1%);


}