body {
  font-family: 'Pretendard' !important;
  font-weight: 500;
}

body.on {
  overflow: hidden;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

ul {
  list-style: none;
}

/* 드롭다운 커스텀 */

 .nav .nav-item .dropdown-menu {
  display: block !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  left: 0 !important;
  right: -30% !important;
  min-width: auto !important;
}

.nav .nav-item:first-child .dropdown-menu.show {
  height: 100px !important;
  border-top: 3px solid #fa002d !important;
  box-shadow : 2px 2px 5px rgba(0,0,0,.2);
}

.nav .nav-item:not(:first-child) .dropdown-menu.show {
  height: 140% !important;
  border-top: 3px solid #fa002d !important;
  box-shadow : 2px 2px 5px rgba(0,0,0,.2);
}

.nav-item .dropdown-menu.show .dropdown-item {
  padding: 0 !important;
  padding-left: 10px !important;
  padding-top: 15px !important;
  color: rgba(0,0,0,.5) !important;
}

.nav-item .dropdown-menu.show .dropdown-item:hover {
  background: transparent;
}

.nav-item #basic-nav-dropdown::after {
  transition: all .4s;
  margin-left: .55em;
}

.nav-item.show #basic-nav-dropdown::after {
    transform: rotate(180deg);
}

.nav-item .dropdown-menu.show .dropdown-item:hover {
  color: #fa002d !important;
}

/* 드롭다운 커스텀 끝 */


/* 스와이퍼 커스텀마이징 */

.sjslider {
  position: relative;
}

.sjslider .swiper-wrapper {
  height: 90% !important;
}

.sjslider .swiper-pagination {
  display: flex;
  height: 90%;
  bottom : unset !important;
  top: 0 !important;
}

.sjslider .swiper-pagination .swiper-pagination-bullet {
  width: calc(100% / 3);
  height: 100%;
  border-radius: 0;
  margin: 0 !important;
  background-color: rgba(0,0,0,.2);
  display: block;
  border-right: 3px solid white;
  color: white;
  opacity: 0;
  transition: all .4s;
}

.sjslider .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.sjslider .swiper-pagination .swiper-pagination-bullet .text-wrap {
  padding-top: 20%;
}

.sjslider .swiper-pagination .swiper-pagination-bullet .text-wrap div:first-child {
  font-size: 1.8rem;
  padding-bottom: 8%;
}

.sjslider .swiper-pagination .swiper-pagination-bullet .text-wrap div:nth-child(2) {
  font-size: 1rem;
  font-weight: 300 !important;
}

.sjslider .swiper-pagination .swiper-pagination-bullet .text-wrap div:last-child {
  font-size: 1.3rem;
}

.sjslider .swiper-scrollbar {
  width: 70% !important;
  bottom: 3% !important;
  left: 50% !important;
  transform: translateX(-50%);
}

.sjslider .swiper-scrollbar .swiper-scrollbar-drag {
  width: 33.333% !important;
  background-color: #ff0000;
}

/* 반응형 커스텀 */

@media (min-width: 1060px) {
  .d-1060-flex {
    display: flex !important;
  }
}

@media (max-width: 1100px) {
  .sjslider .swiper-pagination {
    flex-direction: column;
  }

  .sjslider .swiper-pagination .swiper-pagination-bullet {
    width: 100%;
    height: calc(100% / 3);
    border: none;
    border-bottom: 3px solid white;
  }

  .sjslider .swiper-pagination .swiper-pagination-bullet .text-wrap {
    padding-top: 1%;
  }

  .sjslider .swiper-pagination .swiper-pagination-bullet .text-wrap div:first-child {
    padding-bottom: 4%;
  }
}

/* 햄버거 버튼 커스텀 */
.navbar-expand .navbar-toggler {
  display: flex !important;
  padding: 12px;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

.navbar-expand .navbar-toggler:hover {
  background-color: var(--bs-blue);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.navbar-expand .navbar-toggler .navbar-toggler-icon {
  display: none;
}

.navbar-expand .navbar-toggler::after {
  content: '\F479';
  font-family: 'bootstrap-icons';
  font-size: 25px;
  color: white;
}

#responsive-navbar-nav {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: white;
}

#responsive-navbar-nav .navbar-nav {
  width: 100%;
}

#responsive-navbar-nav .navbar-nav :not(#top_mobile) a {
  color: #000 !important;
}

#responsive-navbar-nav .navbar-nav :not(#top_mobile) .navbar-nav a {
  padding: 10px 20px;
  display: block;
  background-color: #f9f8f8;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 14px;
  color: rgba(0,0,0,.5) !important;
}

#responsive-navbar-nav .navbar-nav>div>a {
  padding: 20px;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.navbar-collapse .navbar-nav {
  flex-direction: column !important;
}

.navbar-collapse {
  width: 30%;
  align-items: start !important;
}

#top_mobile {
  flex-direction: row !important;
  background-color: #4a5677;
  padding-left: 20px;
}

#responsive-navbar-nav .navbar-nav #top_mobile .nav-item a {
  position: relative;
  display: block;
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  padding-right: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: white !important;
  font-size: 13px;
  font-weight: 400 !important;
}

#responsive-navbar-nav .navbar-nav #top_mobile .nav-item:not(:last-child) a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #fff;
}

#responsive-navbar-nav .navbar-nav>:not(div#top_mobile)>.navbar-nav {
  height: 0;
  overflow: hidden;
  transition: all .4s;
}

#responsive-navbar-nav .navbar-nav>:not(div#top_mobile)>.navbar-nav.showing {
  height: 100%;
}

#responsive-navbar-nav .navbar-nav>:not(div#top_mobile)>a {
  position: relative;
}

#responsive-navbar-nav .navbar-nav>:not(div#top_mobile)>a::after {
  content: '\F282';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'bootstrap-icons';
  font-size: 13px;
}