body {
  margin: 0;
  font-family: 'Pretendard';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

ul {
  list-style: none;
}
