body {
  font-family: 'Pretendard' !important;
  font-weight: 500;
}

body.on {
  overflow: hidden;
}

body.on::after {
  content: '';
  position: fixed;
  display: block;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 10000000;
  top: 0;
  width: 100%;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

ul {
  list-style: none;
}

/* 드롭다운 커스텀 */

.nav .nav-item .dropdown-menu {
  display: block !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  left: 0 !important;
  right: -30% !important;
  min-width: auto !important;
}

.nav .nav-item:first-child .dropdown-menu.show {
  height: 100px !important;
  border-top: 3px solid #fa002d !important;
  box-shadow : 2px 2px 5px rgba(0,0,0,.2);
}

.nav .nav-item:not(:first-child) .dropdown-menu.show {
  height: 140% !important;
  border-top: 3px solid #fa002d !important;
  box-shadow : 2px 2px 5px rgba(0,0,0,.2);
}

.nav-item .dropdown-menu.show .dropdown-item {
  padding: 0 !important;
  padding-left: 10px !important;
  padding-top: 15px !important;
  color: rgba(0,0,0,.5) !important;
}

.nav-item .dropdown-menu.show .dropdown-item:hover {
  background: transparent;
}

.nav-item #basic-nav-dropdown::after {
  transition: all .4s;
  margin-left: .55em;
}

.nav-item.show #basic-nav-dropdown::after {
    transform: rotate(180deg);
}

.nav-item .dropdown-menu.show .dropdown-item:hover {
  color: #fa002d !important;
}

/* 드롭다운 커스텀 끝 */


/* 리스트 메뉴 시작 */

.fixed_menu {
  z-index: 10000001;
  padding-left: 10% !important;
  left: 0;
  top: 5%;
  display: none;
}

body.on .fixed_menu {
  display: block;
}

.fixed_menu > .fixed_nav {
  flex-direction: column;
}

.fixed_nav > h2 {
  color: white;
  font-size: 50px;
  font-weight: 900 !important;
  padding-bottom: 10%;
}

.fixed_menu a {
  color: white !important;
}

.fixed_nav > a {
  font-size: 50px;
  font-weight: 900 !important;
  color: #fa002d !important;
}

.fixed_sub > a {
  font-size: 25px;
  margin: 5px 0;
}

/* 리스트 메뉴 끝 */

/* 스와이퍼 커스텀마이징 */


.swiper-pagination {
  top: unset !important;
  bottom: .5% !important;
}

.swiper-pagination-bullet {
  background-color : #fa002d !important;
}

.swiper-pagination-bullet-active {
  position: relative;
}