#footer {
  background-color: #101010;
  opacity: 0.8;
  color: white;
}
#footer .footer {
  width: 100%;
  height: 350px;
  bottom: 0;
  left: 0;
}
#footer .footer .companyInfo ul {
  line-height: 2rem;
}
#footer .footer .companyInfo ul .companyName {
  line-height: 7rem;
  font-size: 30px;
  font-weight: 800;
}
#footer .footer .companyInfo ul .termOfUse {
  line-height: 3rem;
}
#footer .footer .customerService .bi-youtube {
  color: red;
  font-size: xx-large;
}
#footer .footer .customerService .bi-twitter {
  color: #00acee;
  font-size: xx-large;
  margin-left: 5%;
}
#footer .footer .customerService .bi-instagram {
  color: #dc143c;
  font-size: xx-large;
  margin-left: 5%;
}
#footer .footer .customerService .csCenter {
  font-size: 30px;
  line-height: 5rem;
}
#footer .footer .customerService .csNumber {
  line-height: 3rem;
  font-size: 30px;
}
#footer .footer .customerService .hoursOfUse {
  margin-top: 50px;
}