.mContainer {
    max-width: 600px;
    // margin: 0 auto;
}

.bgColor {
    // background-color: #e2f2ff;
    background-color: #e2f2ff;

}

.columFrame {
    width: 500px;
    border: 1.5px #e2f2ff solid;
    border-radius: 5px;
}

.btnFrame {
    width: 200px;
    height: 50px;
    background-color: #0091ff;
    background-image: (270deg, #0091ff 23.29%, #e2f2ff 67.3%);
    margin: auto;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-color: #0091ff;
    color: white;

}

.customFormTitle {

    padding-top: 20px;

    text-align: center;

    height: 100px;

}



.customForm {
    width: 100%;
    height: 400px;
    // background-color: #f04e21;
    // border-radius: 50px;
    // border: 7px solid #f04e21;



    .essential {
        margin-left: 0;
        font-size: 1.6rem;
        font-size: medium;
    }

    sup {
        color: #f04e21;
        font-size: medium;
    }



    .formRow {
        row-gap: 5 px;

        margin-bottom: 30px;
    }

    .formColumn {
        margin-right: 50px;

        input[type='text'] {
            border: 1px solid grey;
            border-radius: 5px;
        }
    }

    .formBtn {

        button {
            width: 20rem;
            height: 3rem;

            background-color: #f04e21;
            color: white;

            border-radius: 8px;
            border: transparent;
        }

        margin-top: 50px;
        margin-right: 50px;
    }

}


.formAction {
    .form__title {
        text-align: center;
        padding-bottom: 50px;

        h2 {
            font-size: 36px;
            font-family: 'Pretendard';
            font-weight: 700;
            color: #f98908;
            padding-bottom: 20px;
        }
    }

    .form__wrapper {
        form {
            display: flex;
            flex-wrap: wrap;

            fieldset {
                display: none;
            }

            div {
                padding-right: 50px;
                padding-bottom: 30px;

                label,
                input {
                    display: block;
                }

                label {
                    padding-bottom: 10px;
                }

                input {
                    height: 35px;
                }

                select {
                    width: 200px;
                }

                select:focus {
                    border: none;
                }

                &:nth-of-type(3) {
                    input {
                        display: inline-block;
                        width: 50px;

                        &:not(:last-of-type)::after {
                            content: '-';
                        }
                    }
                }

                textarea {
                    width: 100%;
                }

                input[type="submit"] {
                    background-image: linear-gradient(270deg, #FAFF03 23.29%, #FF8A00 67.3%);
                    border: none;
                    padding: 0 100px;
                    border-radius: 30px;
                    color: white;

                }
            }
        }
    }
}