@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

#hd a,
#mainSwiper a,
#customForm a,
#businessPartners a,
#quickMenu a,
#footer a {
  text-decoration: none;
  color: black;
}
#hd ul,
#mainSwiper ul,
#customForm ul,
#businessPartners ul,
#quickMenu ul,
#footer ul {
  list-style: none;
}
#hd li,
#mainSwiper li,
#customForm li,
#businessPartners li,
#quickMenu li,
#footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#hd .posFixed,
#mainSwiper .posFixed,
#customForm .posFixed,
#businessPartners .posFixed,
#quickMenu .posFixed,
#footer .posFixed {
  position: fixed;
}
#hd .posAbs,
#mainSwiper .posAbs,
#customForm .posAbs,
#businessPartners .posAbs,
#quickMenu .posAbs,
#footer .posAbs {
  position: absolute;
}
#hd .posRel,
#mainSwiper .posRel,
#customForm .posRel,
#businessPartners .posRel,
#quickMenu .posRel,
#footer .posRel {
  position: relative;
}
#hd .dpFlex,
#mainSwiper .dpFlex,
#customForm .dpFlex,
#businessPartners .dpFlex,
#quickMenu .dpFlex,
#footer .dpFlex {
  display: flex;
}
#hd .dpBlock,
#mainSwiper .dpBlock,
#customForm .dpBlock,
#businessPartners .dpBlock,
#quickMenu .dpBlock,
#footer .dpBlock {
  display: block;
}
#hd .jcb,
#mainSwiper .jcb,
#customForm .jcb,
#businessPartners .jcb,
#quickMenu .jcb,
#footer .jcb {
  justify-content: space-between;
}
#hd .jcc,
#mainSwiper .jcc,
#customForm .jcc,
#businessPartners .jcc,
#quickMenu .jcc,
#footer .jcc {
  justify-content: center;
}
#hd .aic,
#mainSwiper .aic,
#customForm .aic,
#businessPartners .aic,
#quickMenu .aic,
#footer .aic {
  align-items: center;
}
#hd .container,
#mainSwiper .container,
#customForm .container,
#businessPartners .container,
#quickMenu .container,
#footer .container {
  margin: auto;
  width: 1400px;
}
#hd .height100,
#mainSwiper .height100,
#customForm .height100,
#businessPartners .height100,
#quickMenu .height100,
#footer .height100 {
  height: 100px;
}
#hd .flexDirCol,
#mainSwiper .flexDirCol,
#customForm .flexDirCol,
#businessPartners .flexDirCol,
#quickMenu .flexDirCol,
#footer .flexDirCol {
  flex-direction: column;
}
#hd .flexDirRow,
#mainSwiper .flexDirRow,
#customForm .flexDirRow,
#businessPartners .flexDirRow,
#quickMenu .flexDirRow,
#footer .flexDirRow {
  flex-direction: row;
}

#hd .topAd {
  width: 100%;
  height: 50px;
  top: 0;
  text-align: center;
  background-color: #ede0cb;
  font-size: large;
  z-index: 10000000;
}
#hd .topAd a {
  color: black;
}
#hd .topBanner {
  margin: auto;
  top: 50px;
  height: 100px;
  padding: 0 2%;
  background-color: #f04e21;
}
#hd .topBanner img {
  width: 80px;
}
#hd .topBanner button {
  padding: 5px;
  border-radius: 30px;
  border: white;
  margin-right: 5px;
}
#hd .topOption {
  margin-right: 20px;
}
#hd .topMenu {
  top: 50px;
  margin: auto;
  height: 100px;
  border-bottom: 3px solid #f04e21;
}
#hd .topMenu li {
  padding-right: 30px;
}
#hd .topMenu .depth1ul {
  margin-bottom: 0;
}
#hd .topMenu .depth1ul :hover .depth2ul {
  height: 150px;
  background-color: #f04e21;
}
#hd .topMenu .depth1a {
  line-height: 100px;
}
#hd .topMenu .depth2ul {
  line-height: 50px;
  top: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 100;
}

#mainSwiper {
  position: relative;
  top: 100px;
  height: 800px;
}
#mainSwiper .swiper-slide {
  height: 0;
  padding-top: 43%;
  /* width 100% 조건이 내장되어야 한다  */
  /* 화면 사이즈에 맞게 해상도를 자동 조절시키기 위해 bground-image 태그를 사용
  height 0 으로 주고, padding-top 요소를 사용하여 이미지의 height 백분율을 계산하여 % 로 넣어준다 */
  background-position: 85% center;
  background-size: 45%;
  background-color: white;
  background-repeat: no-repeat;
}
#mainSwiper .mainSwiperTitle {
  left: 20%;
  top: 30%;
  font-family: "Pretendard-Black";
  font-size: 2rem;
}
#mainSwiper .mainSwiperImg1 {
  background-image: url(https://www.carryboxstorage.com/img/visual01.a3a52f16.svg);
}
#mainSwiper .mainSwiperImg2 {
  background-image: url(https://www.lugstay.com/img/app-device-new.png);
  background-size: 30%;
}
#mainSwiper .mainSwiperImg3 {
  background-image: url(https://www.carryboxstorage.com/img/visual03.2f02c466.svg);
  background-size: 40%;
}
#mainSwiper .swiper-pagination-bullet {
  border-radius: 0;
  width: 50px;
}
#mainSwiper .swiper-pagination-bullet-active {
  background: #f04e21;
}
#mainSwiper .mainSwiperButton {
  color: #f04e21 !important;
}
#mainSwiper .mainSwiperButton * {
  color: inherit;
  --swiper-navigation-size: 75px;
}

#customForm {
  padding: 5rem 0 10.5rem;
}
#customForm .customFormTitle {
  padding-top: 20px;
  text-align: center;
  height: 100px;
  color: #f04e21;
}
#customForm .customForm {
  width: 100%;
  height: 400px;
}
#customForm .customForm .essential {
  margin-left: 0;
  font-size: 1.6rem;
  font-size: medium;
}
#customForm .customForm sup {
  color: #f04e21;
  font-size: medium;
}
#customForm .customForm .formRow {
  row-gap: 5 px;
  margin-bottom: 30px;
}
#customForm .customForm .formColumn {
  margin-right: 50px;
}
#customForm .customForm .formColumn input[type=text] {
  border: 1px solid grey;
  border-radius: 5px;
}
#customForm .customForm .formBtn {
  margin-top: 50px;
  margin-right: 50px;
}
#customForm .customForm .formBtn button {
  width: 20rem;
  height: 3rem;
  background-color: #f04e21;
  color: white;
  border-radius: 8px;
  border: transparent;
}

.formAction .form__title {
  text-align: center;
  padding-bottom: 50px;
}
.formAction .form__title h2 {
  font-size: 36px;
  font-family: "Pretendard";
  font-weight: 700;
  color: #f98908;
  padding-bottom: 20px;
}
.formAction .form__wrapper form {
  display: flex;
  flex-wrap: wrap;
}
.formAction .form__wrapper form fieldset {
  display: none;
}
.formAction .form__wrapper form div {
  padding-right: 50px;
  padding-bottom: 30px;
}
.formAction .form__wrapper form div label,
.formAction .form__wrapper form div input {
  display: block;
}
.formAction .form__wrapper form div label {
  padding-bottom: 10px;
}
.formAction .form__wrapper form div input {
  height: 35px;
}
.formAction .form__wrapper form div select {
  width: 200px;
}
.formAction .form__wrapper form div select:focus {
  border: none;
}
.formAction .form__wrapper form div:nth-of-type(3) input {
  display: inline-block;
  width: 50px;
}
.formAction .form__wrapper form div:nth-of-type(3) input:not(:last-of-type)::after {
  content: "-";
}
.formAction .form__wrapper form div textarea {
  width: 100%;
}
.formAction .form__wrapper form div input[type=submit] {
  background-image: linear-gradient(270deg, #FAFF03 23.29%, #FF8A00 67.3%);
  border: none;
  padding: 0 100px;
  border-radius: 30px;
  color: white;
}

#businessPartners {
  position: relative;
  width: 100%;
}
#businessPartners .partnersTitle {
  text-align: center;
  color: #f04e21;
}
#businessPartners .swiper-wrapper {
  transition-timing-function: linear;
}
#businessPartners .swiper-slide {
  height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}
#businessPartners .partnerLogo1 {
  background-image: url(https://www.lugstay.com/img/partners-logo-mss.png);
}
#businessPartners .partnerLogo2 {
  background-image: url(https://www.lugstay.com/img/main-partners-hub.png);
}
#businessPartners .partnerLogo3 {
  background-image: url(https://www.lugstay.com/img/partners-logo-kto.png);
}
#businessPartners .partnerLogo4 {
  background-image: url(https://www.lugstay.com/img/partners-logo-sto.png);
}
#businessPartners .partnerLogo5 {
  background-image: url(https://www.lugstay.com/img/partners-logo-incheon-airport.png);
}
#businessPartners .partnerLogo6 {
  background-image: url(https://www.lugstay.com/img/partners-logo-sk-telecom.png);
}

#quickMenu .quickMenu {
  right: 10%;
  bottom: 10%;
  z-index: 1000000;
}
#quickMenu .linkPhone {
  width: 50px;
  height: 50px;
  background-color: #f04e21;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 10px;
  z-index: 1000000;
}
#quickMenu .linkKaKaoTalk {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  z-index: 1000000;
}

#footer {
  background-color: #101010;
  color: white;
}
#footer .footer {
  width: 100%;
  height: 350px;
  bottom: 0;
  left: 0;
}
#footer .footer .companyInfo ul {
  line-height: 2rem;
  color: rgb(153, 153, 153);
}
#footer .footer .companyInfo ul .companyName {
  line-height: 7rem;
  font-size: 30px;
  color: #f04e21;
}
#footer .footer .companyInfo ul .termOfUse {
  line-height: 3rem;
  color: black;
}
#footer .footer .customerService .bi-youtube {
  color: red;
  font-size: xx-large;
}
#footer .footer .customerService .bi-twitter {
  color: #00acee;
  font-size: xx-large;
  margin-left: 5%;
}
#footer .footer .customerService .bi-instagram {
  color: #dc143c;
  font-size: xx-large;
  margin-left: 5%;
}
#footer .footer .customerService .csCenter {
  font-size: 30px;
  line-height: 5rem;
}
#footer .footer .customerService .csNumber {
  line-height: 3rem;
  font-size: 30px;
  color: #f04e21;
}
#footer .footer .customerService .hoursOfUse {
  margin-top: 50px;
}

@media (max-width: 800px) {
  #hd h3 {
    font-size: 1rem;
  }
  #quickMenu .quickMenu {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #quickMenu .quickMenu .linkPhone,
  #quickMenu .quickMenu .linkKaKaoTalk {
    width: 50vw;
    border-radius: 0;
  }
}