#businessPartners {
  position: relative;
  width: 100%;
}
#businessPartners .partnersTitle {
  text-align: center;
  color: #f04e21;
}
#businessPartners .swiperWrapper {
  transition-timing-function: linear !important;
}
#businessPartners .swiperSlide {
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}
#businessPartners .partnerLogo1 {
  background-image: url(https://www.lugstay.com/img/partners-logo-mss.png);
}
#businessPartners .partnerLogo2 {
  background-image: url(https://www.lugstay.com/img/main-partners-hub.png);
}
#businessPartners .partnerLogo3 {
  background-image: url(https://www.lugstay.com/img/partners-logo-kto.png);
}
#businessPartners .partnerLogo4 {
  background-image: url(https://www.lugstay.com/img/partners-logo-sto.png);
}
#businessPartners .partnerLogo5 {
  background-image: url(https://www.lugstay.com/img/partners-logo-incheon-airport.png);
}
#businessPartners .partnerLogo6 {
  background-image: url(https://www.lugstay.com/img/partners-logo-sk-telecom.png);
}