.swiper {
    width: 50%;
}

.swiperSlide {

    background-position: center;
    background-repeat: no-repeat;

    max-width: 100%;
    height: auto;

    // opacity: 0;
}

.containerHeight {
    height: 800px;
}

.swiperHeight {
    height: 600px;
}

.fade-transition {
    transition: opacity 0.5s ease-in-out; // Adjust the duration and timing function as needed
    opacity: 1;
}

.fade-transition-hidden {
    opacity: 0;
}