.swiper {
    width: 80%;
}

.swiperSlide {

    background-position: center;
    background-repeat: no-repeat;

    max-width: 100%;
    height: auto;

    // opacity: 0;
}

.containerHeight {
    height: 1000px;
}

.swiperHeight {
    height: 900px;
}


@media (max-width: 768px) {
 
    .styleTitle{
        font-size: xx-large !important;
    }

    .swiperSlide{

        width:400px !important;
        height: auto !important;
    }

    .swiperHeight{

        flex-direction: column;

        height:500px;
    }

    .posDetail{

        bottom: 0;
        left: 0;
        right: 0;
        margin-left: unset !important;

        margin-bottom: 5%;

        font-size: small;
    }

    .containerHeight{
        height: 1100px;
    }

    
}