.swiper {
    width: 80%;
}

.swiperSlide {

    background-position: center;
    background-repeat: no-repeat;

    max-width: 100%;
    height: auto;

    // opacity: 0;
}

.containerHeight {
    height: 1000px;
}

.swiperHeight {
    height: 900px;
}