#sizeInfo .swiper-pagination {
  position: unset;
  width: auto;
  display: inline-block;
  border: 2px solid silver;
  white-space: nowrap;
  padding: 0 1rem;
  border-radius: 2rem;
  margin-top: 1rem;
}
#sizeInfo .swiper-pagination-bullet {
  width: 100px;
  height: auto;
  border-radius: 0;
  padding: 0 1rem;
  margin: 1rem 1rem !important;
  line-height: 10px;
  font-size: 15px;
  color: black;
  opacity: 1 !important;
  background: none !important;
}
#sizeInfo .swiper-pagination-bullet-active {
  color: #0091ff;
}
#sizeInfo .dataPos {
  margin-top: 5%;
  margin-left: 40%;
}
#sizeInfo .swiper-slide {
  opacity: 0 !important;
}
#sizeInfo .swiper-slide-active {
  opacity: 1 !important;
}